:root {
  --color-main-text: #212121;
  --color-secondary-text: #757575;
  --color-hover: #2196F3;
  --background-main: #FFFFFF;
  --background-footer: #2F303A;
  --backgraund-team: #F5F4FA;
  --border-line: #ECECEC;
  --adress-contact: #FFFFFF99;
  --client-color:#AFB1B8;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: au;
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: var(--border-line);
  height: 80px;
}

.header .conteiner {
  align-items: center;
}

.conteiner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid rgb(255, 0, 0); */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-hover);
}

.logo--header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--header span {
  color: #000000;
}

.navigation {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__link {
  color: var(--color-main-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--color-hover);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link--current {
  color: var(--color-hover);
  position: relative;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-hover);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.contact {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--color-secondary-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--color-hover);
}

.banner {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/img-hero.jpg");
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
}

.banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-main);
  width: 696px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-main);
  cursor: pointer;
  background-color: var(--color-hover);
  border: none;
  border-radius: 4px;
}

.button--banner {
  height: 50px;
  width: 200px;
  margin-top: 30px;
}

.section {
  padding: 94px 0;
}

.peculiarities__icon {
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--backgraund-team);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peculiarities__list {
  display: flex;
  padding-left: 0;
}

.peculiarities__item {
  width: 270px;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main-text);
  margin-bottom: 10px;
}

.peculiarities__text {
  color: var(--color-secondary-text);
}

.about {
  padding-bottom: 94px;
}

.about .conteiner {
  flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-main-text);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  padding-left: 0;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__img {
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-main);
}/*# sourceMappingURL=main.css.map */